<div class="wrm-modal">
  <div class="wrm-modal-content">
    <wrm-close-button ng-click="$ctrl.onDeny()"></wrm-close-button>
    <div style="margin-right: 10px">
      <strong>{{$ctrl.origin}}</strong> wants to
    </div>
    <div style="padding-top: 15px"></div>
    <div ng-repeat="permission in $ctrl.permissions">
      <i class="{{permission.icon}}"></i> {{permission.name}}
    </div>
    <br>
    <div class="wrm-button-bar" style="margin-top: 10px">
      <button
        ng-click="$ctrl.onDeny()"
        type="button" class="wrm-button">Block
      </button>
      <span style="margin-right: 5px"></span>
      <button
        ng-click="$ctrl.onAllow()"
        type="button" class="wrm-button">Allow
      </button>
    </div>
  </div>
</div>
